
.thumbnail {
    display: grid;
    justify-content: center;
    place-items: center;
    margin-bottom: 3%;
}

.article_thumbnail {
    height: 100%;
    width: 100%;
}

.content {
    margin-top: 10%;
    margin-bottom: 10%;
}


.art_main {
    text-align: justify;
    display: grid;
    justify-content: center;
    place-items: center;
}

.article_image {
    width: 100%;
    height: 100%; 
    object-fit: contain;
}

.article_image2 {
    width: 85%;
    height: 85%; 
    object-fit: cover;
}

.article_video {
    width: 95%;
    height: 95%; 
    object-fit: contain;
}

.article_text {
    font-size: 1.35rem;
}

.article_showcase {
    margin-bottom: 10%;
}