
.thumbnail {
    display: grid;
    justify-content: center;
    place-items: center;
    margin-bottom: 3%;
}

.article_thumbnail {
    height: 100%;
    width: 100%;
}

.content {
    margin-top: 5%;
    margin-bottom: 2%;
}

.art_text {
    display: grid;
    justify-content: center;
    place-items: center;
}

.article_image {
    width: 100%;
    height: 100%; 
    object-fit: contain;
}

.article_video {
    width: 95%;
    height: 95%; 
    object-fit: contain;
}

.article_text {
    font-size: 1.5rem;
}

.article_showcase {
    margin-bottom: 10%;
}